
<!-- <html>
    <head>
        <title>Lesly's blog</title>
    </head>
    <body>
        <h1>Mi primer Blog</h1>
        <h2>Lesly Johana Brabosa Solano</h2>
        <h3>Mis publicaciones</h3>
        <h4>Este es mi primer post</h4>
        <p>Hola! es te es mi primer parrafo, hoy en Djangogirls Colombia estoy diseñando mi primer Blog con python y Django</p>
        <em>Bienvenidos</em><br>
        <strong>Holiiiii</strong>
        <br>
        <a href="https://www.djangoproject.com/">Django aquí</a>
        <em>Lista de publicaciones</em>
        <ul><li>primer elemento</li>
            <li>segundo elemento</li>
        </ul>


    </body>
</html> -->

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
